<nz-page-header nzTitle="修改密码" [nzGhost]="false"> </nz-page-header>

<lib-custom-form
  [formItemInfos]="formItemInfos"
  [formData$]="formData$"
></lib-custom-form>

<nz-page-header nzTitle="删除用户" [nzGhost]="false"> </nz-page-header>
<lib-custom-form
  [formItemInfos]="formItemInfos1"
  [formData$]="formData1$"
></lib-custom-form>

<nz-page-header nzTitle="添加用户" [nzGhost]="false"> </nz-page-header>
<lib-custom-form
  [formItemInfos]="formItemInfos2"
  [formData$]="formData2$"
></lib-custom-form>
