<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
  </head>
  <body>
    <form nz-form>
      <nz-form-item>
        <nz-form-control [nzSpan]="14"> </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">灾情码</nz-form-label>
        <nz-form-control nzErrorTip="123" [nzSpan]="10">
          <input name="ID" id="disasterId" nz-input placeholder="灾情码" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">地理位置</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <input
            name="location"
            id="locationProvince"
            nz-input
            placeholder="地理位置"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">数据来源</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <nz-cascader
            name="sourse"
            [nzOptions]="nzOptions_source"
            [(ngModel)]="values_source"
            (ngModelChange)="onChanges($event)"
          ></nz-cascader>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">灾情种类</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <nz-cascader
            name="disaster"
            [nzOptions]="nzOptions_disaster"
            [(ngModel)]="values_disaster"
            (ngModelChange)="onChanges($event)"
          ></nz-cascader>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">载体</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <nz-cascader
            name="carrier"
            [nzOptions]="nzOptions_carrier"
            [(ngModel)]="values_carrier"
            (ngModelChange)="onChanges($event)"
          ></nz-cascader>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">时间</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-date-picker
            name="date"
            [(ngModel)]="date"
            (ngModelChange)="onChange($event)"
          ></nz-date-picker>
          <nz-time-picker
            name="time"
            [(ngModel)]="time"
            [nzDefaultOpenValue]="defaultOpenValue"
          ></nz-time-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">描述</nz-form-label>
        <nz-form-control [nzSpan]="10">
          <textarea
            name="description"
            rows="4"
            nz-input
            [(ngModel)]="description"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary" (click)="submit()">上传</button>
          <div *ngIf="responseData">
            <h2>从后端接收的数据：</h2>
            <pre>{{ responseData | json }}</pre>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </body>
</html>
